<%= render 'layouts/header', user: @user %>
<%= render 'layouts/spacer', user: @user %>

<p id="notice"><%= notice %></p>

<h1>Messages</h1>

<% @messages.each do |message| %>

  <p>Series: <%= message.series %></p>
  <p>Title: <%= message.title %></p>

<% end %>




