<%= render 'layouts/header', user: @user %>
<%= render 'layouts/spacer', user: @user %>
<%= render 'layouts/banner', user: @user %>

<h1>Messages</h1>

<div class='messages-search'>
  <%= form_tag messages_path, method: :get do %>
    <div class='form-group'>
      <span><%= text_field_tag :query, params[:query], class: 'form-control' %></span>
      <%= submit_tag 'Search', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>

<% @messages.each do |message| %>
  <div>
    <p>Series: <%= message.series %></p>
    <p>Title: <%=link_to "#{message.title}", message_path(message) %></p>
  </div>
<% end %>

<%= link_to 'New Message', new_user_message_path(current_user) %>


