<%= render 'layouts/header', user: @user %>
<%= render 'layouts/spacer', user: @user %>
<%= render 'layouts/banner', user: @user %>

<%= link_to 'Smallgroup Activities', message_activities_path(@message), class: "btn btn-default" %>
<%= link_to 'Create Smallgroup Activity', new_message_activity_path(@message), class: "btn btn-default" %>

  <p>Series: <%= @message.series %></p>
  <p>Title: <%= @message.title %></p>
  <p>Costumes: <%= @message.costumes %></p>
  <p>Props: <%= @message.props %></p>
  <p><%= @message.content %></p>


<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
