<%= render 'layouts/header', user: @user %>
<%= render 'layouts/spacer', user: @user %>

<% @users.each do |user| %>

  <div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%if user.avatar.blank? %>
          <%= image_tag('http://www.sessionlogs.com/media/icons/defaultIcon.png') %>
        <% else %>
          <%= image_tag(user.avatar.url(:large) ) %>
        <% end %> 
        <div class="caption text-center">
          <h4><%= "Teacher " + user.first_name + " " + user.last_name %></h4>
        </div>
      </div>
    </div>
  </div>

<% end %>
