<%= render 'layouts/header', user: @user %>
<%= render 'layouts/spacer', user: @user %>

<% if current_user?(@user) %>

  <div class='row'>
    <div class='profile col-xs-12 col-sm-4 col-md-4 text-center'>
      <%if current_user.avatar.blank? %>
        <%= image_tag('http://www.sessionlogs.com/media/icons/defaultIcon.png') %>
      <% else %>
        <%= image_tag(current_user.avatar) %>
      <% end %>

      <p>
        <%= "Teacher " + current_user.first_name %>
      </p>
    </div>
  </div>
    
  <div class="row"></div>

  <%= link_to 'Edit', edit_user_path(@user) %> |
  <%= link_to 'Back', users_path %>

<% else %>

  <div class='row'>
    <div class='profile col-xs-12 col-sm-4 col-md-4 text-center'>
      <%if @user.avatar.blank? %>
        <%= image_tag('http://www.sessionlogs.com/media/icons/defaultIcon.png') %>
      <% else %>
        <%= image_tag(@user.avatar) %>
      <% end %>
    </div>
  </div>
    
  <div class="row"></div>

  <p>
    <strong>First name:</strong>
    <%= @user.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= @user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @user.email %>
  </p>

  <p>
    <strong>Birthday:</strong>
    <%= @user.birthday %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= @user.phone %>
  </p>

  <p>
    <strong>Grade:</strong>
    <%= @user.grade %>
  </p>

<% end %>
