<%= render 'layouts/header', user: @user %>
<%= render 'layouts/spacer', user: @user %>

<p id="notice"><%= notice %></p>

<p>Key verse: <%= @activity.key_verse %></p>
<p>Review: <%= @activity.review %></p>
<p>Description: <%= @activity.description %></p>
<p>Materials: <%= @activity.materials %></p>
<p>Media Reference: <%= @activity.media_ref %></p>


<%= link_to 'Edit', edit_activity_path(@activity) %> |

