<%= render 'layouts/header', user: @user %>
<%= render 'layouts/spacer', user: @user %>

<p>Grade: <%= @activity.grade %></p>
<p>Key verse: <%= @activity.key_verse %></p>
<p>Materials: <%= @activity.materials %></p>
<p>Media Reference: <%= @activity.media_ref %></p>
<p>Review: <%= @activity.review %></p>
<p>Description: <%= @activity.description %></p>

<%= link_to 'Edit', edit_activity_path(@activity) %> 

